{% extends 'base.html.twig' %}

{% block title %}Company {{ company.name }}!{% endblock %}

{% block body %}

    <div class="container">
        <div class="mt-5 text-center border-bottom pb-3">
            <h1>{{ company.name }}</h1>
            <div class="row mt-3">
                {% for branch in company.branches %}
                    <div class="col-3 p-3">
                        <h3 class="text-center">{{ branch.name }}</h3>
                        <span>{{ branch.description }}</span>
                        <button class="btn btn-block btn-secondary" onclick="$(this).next('ul').slideToggle()">
                            Employees
                        </button>
                        <ul class="list-group mt-3" style="display: none;">
                            {% for employee in branch.employees %}
                                <li class="list-group-item">{{ employee.name }} | {{ employee.position }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {# WITH AJAX #}
    <div class="container mb-5">
        <div class="mt-5 text-center border-bottom pb-3">
            <button class="btn btn-block btn-secondary" onclick="renderCompany({{ company.id }}, $(this))">Get company
                with ajax
            </button>
            <div style="display: none;"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        function renderCompany(companyID, currentObject) {
            let object = $(currentObject).next('div');
            $(currentObject).remove();
            $.ajax({
                url: '/api/v1/company/read/' + companyID,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    let view = {
                        id: data['data']['id'],
                        name: data['data']['name'],
                    }

                    let render;
                    render = Mustache.render(
                        `
                            <h1><% name %> with ajax</h1>
                            <button class="btn btn-block btn-secondary" onclick="renderBranches(<% id %>, $(this))">Get all branches with ajax
                            </button>
                            <div class="p-3 row" style="display: none;"><div>
                            `,
                        view,
                        {},
                        ['<%', '%>']
                    );

                    $(object).html($(object).html() + render);
                    console.log($(object).html())
                },
                error: function () {
                    alert('error');
                    location.reload();
                }
            });

            $(object).slideToggle();
        }

        function renderBranches(companyID, currentObject) {
            let object = $(currentObject).next('div');
            $(currentObject).remove();

            $.ajax({
                url: '/api/v1/branch/getAllFromCompany/' + companyID,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    $.each(data.data, (index, value) => {
                        let view = {
                            id: value['id'],
                            name: value['name'],
                            description: value['description'],
                        }

                        let render;
                        render = Mustache.render(
                            `
                            <div class="col-3 p-3">
                            <h3 class="text-center"><% name %></h3>
                            <span><% branch.description %></span>
                            <button class="btn btn-block btn-secondary" onclick="renderEmployees(<% id %>, $(this))">Get employee's list</button>
                            <ul class="list-group mt-3" style="display: none;"></ul>
                            </div>
                            `,
                            view,
                            {},
                            ['<%', '%>']
                        );

                        $(object).html($(object).html() + render);
                    });
                },
                error: function () {
                    alert('error');
                    location.reload();
                }
            });

            $(object).slideToggle();
        }

        function renderEmployees(branchID, currentObject) {
            let object = $(currentObject).next('ul');
            $(currentObject).remove();

            $.ajax({
                url: '/api/v1/employee/getAllFromBranch/' + branchID,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    $.each(data.data, (index, value) => {
                        let view = {
                            name: value['name'],
                            position: value['position'],
                        }

                        let render = Mustache.render(
                            '<li class="list-group-item"> <% name %> | <% position %></li>',
                            view,
                            {},
                            ['<%', '%>']
                        );

                        $(object).html($(object).html() + render);
                    });
                },
                error: function () {
                    alert('error');
                    location.reload();
                }
            });

            $(object).slideToggle();
        }
    </script>

{% endblock %}